* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", 
  sans-serif;
  font-size: 20px;
  color: #444444;
  display: flex;
  flex-direction: column;  
  

}

nav, footer {
  background-color: black;
  color: white;
}

nav {
  position: fixed;
  padding-left: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: black;
  background-color: white;
}
.about-me, .app2 {
  color: black;
  background-color: white;
}
.app1 {
  color: white;
  background-color: black;
}



header {
  padding: 12% 0;
  background-color: black;
  color: white;
}

section {
  min-height: 200px;
  flex-grow: 1;
  padding: 6% 0;
  background-color: #bbbbbb;
}